In [41]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [42]:
import pandas as pd
import os

# Define the directory where your CSV files are located
directory = "D:\Projects\Solar Forcasting\Data"

# Initialize an empty list to store DataFrames
dfs = []

# Loop through all CSV files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        dfs.append(df)

# Concatenate the DataFrames vertically to create a single DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

# Now, merged_df contains all rows from all CSV files

In [43]:
merged_df

,Year,Month,Day,Hour,Minute,Temperature,DHI,DNI,GHI,Relative Humidity,Wind Direction,Wind Speed,Pressure,Dew Point
0,2016,1,1,0,0,21.9,0,0,0,84.47,355,2.6,1018,19.2
1,2016,1,1,0,10,21.9,0,0,0,84.47,356,2.7,1018,19.2
2,2016,1,1,0,20,21.8,0,0,0,84.98,356,2.7,1018,19.2
3,2016,1,1,0,30,21.8,0,0,0,84.98,357,2.7,1018,19.2
4,2016,1,1,0,40,21.8,0,0,0,84.30,357,2.7,1018,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263083,2020,12,31,23,10,20.8,0,0,0,83.35,356,2.8,1018,17.9
263084,2020,12,31,23,20,20.8,0,0,0,83.35,357,2.9,1018,17.9
263085,2020,12,31,23,30,20.8,0,0,0,83.35,357,2.9,1018,17.9
263086,2020,12,31,23,40,20.8,0,0,0,82.64,357,2.9,1017,17.7
263087,2020,12,31,23,50,20.8,0,0,0,82.64,358,2.9,1017,17.7

In [44]:
sorted_df = merged_df.sort_values(by=["Year", "Month", "Day", "Hour", "Minute"])

In [45]:
sorted_df = merged_df.copy()

In [46]:
# Combine Year, Month, Day, Hour, and Minute columns into a single datetime column
sorted_df["datetime"] = pd.to_datetime(
    sorted_df[["Year", "Month", "Day", "Hour", "Minute"]]
)

In [47]:
sorted_df

,Year,Month,Day,Hour,Minute,Temperature,DHI,DNI,GHI,Relative Humidity,Wind Direction,Wind Speed,Pressure,Dew Point,datetime
0,2016,1,1,0,0,21.9,0,0,0,84.47,355,2.6,1018,19.2,2016-01-01 00:00:00
1,2016,1,1,0,10,21.9,0,0,0,84.47,356,2.7,1018,19.2,2016-01-01 00:10:00
2,2016,1,1,0,20,21.8,0,0,0,84.98,356,2.7,1018,19.2,2016-01-01 00:20:00
3,2016,1,1,0,30,21.8,0,0,0,84.98,357,2.7,1018,19.2,2016-01-01 00:30:00
4,2016,1,1,0,40,21.8,0,0,0,84.30,357,2.7,1018,19.0,2016-01-01 00:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263083,2020,12,31,23,10,20.8,0,0,0,83.35,356,2.8,1018,17.9,2020-12-31 23:10:00
263084,2020,12,31,23,20,20.8,0,0,0,83.35,357,2.9,1018,17.9,2020-12-31 23:20:00
263085,2020,12,31,23,30,20.8,0,0,0,83.35,357,2.9,1018,17.9,2020-12-31 23:30:00
263086,2020,12,31,23,40,20.8,0,0,0,82.64,357,2.9,1017,17.7,2020-12-31 23:40:00
263087,2020,12,31,23,50,20.8,0,0,0,82.64,358,2.9,1017,17.7,2020-12-31 23:50:00

In [48]:
sorted_df.set_index("datetime", inplace=True)

In [49]:
sorted_df

,Year,Month,Day,Hour,Minute,Temperature,DHI,DNI,GHI,Relative Humidity,Wind Direction,Wind Speed,Pressure,Dew Point
datetime,,,,,,,,,,,,,,
2016-01-01 00:00:00,2016,1,1,0,0,21.9,0,0,0,84.47,355,2.6,1018,19.2
2016-01-01 00:10:00,2016,1,1,0,10,21.9,0,0,0,84.47,356,2.7,1018,19.2
2016-01-01 00:20:00,2016,1,1,0,20,21.8,0,0,0,84.98,356,2.7,1018,19.2
2016-01-01 00:30:00,2016,1,1,0,30,21.8,0,0,0,84.98,357,2.7,1018,19.2
2016-01-01 00:40:00,2016,1,1,0,40,21.8,0,0,0,84.30,357,2.7,1018,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 23:10:00,2020,12,31,23,10,20.8,0,0,0,83.35,356,2.8,1018,17.9
2020-12-31 23:20:00,2020,12,31,23,20,20.8,0,0,0,83.35,357,2.9,1018,17.9
2020-12-31 23:30:00,2020,12,31,23,30,20.8,0,0,0,83.35,357,2.9,1018,17.9
2020-12-31 23:40:00,2020,12,31,23,40,20.8,0,0,0,82.64,357,2.9,1017,17.7
2020-12-31 23:50:00,2020,12,31,23,50,20.8,0,0,0,82.64,358,2.9,1017,17.7

In [50]:
sorted_df

,Year,Month,Day,Hour,Minute,Temperature,DHI,DNI,GHI,Relative Humidity,Wind Direction,Wind Speed,Pressure,Dew Point
datetime,,,,,,,,,,,,,,
2016-01-01 00:00:00,2016,1,1,0,0,21.9,0,0,0,84.47,355,2.6,1018,19.2
2016-01-01 00:10:00,2016,1,1,0,10,21.9,0,0,0,84.47,356,2.7,1018,19.2
2016-01-01 00:20:00,2016,1,1,0,20,21.8,0,0,0,84.98,356,2.7,1018,19.2
2016-01-01 00:30:00,2016,1,1,0,30,21.8,0,0,0,84.98,357,2.7,1018,19.2
2016-01-01 00:40:00,2016,1,1,0,40,21.8,0,0,0,84.30,357,2.7,1018,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 23:10:00,2020,12,31,23,10,20.8,0,0,0,83.35,356,2.8,1018,17.9
2020-12-31 23:20:00,2020,12,31,23,20,20.8,0,0,0,83.35,357,2.9,1018,17.9
2020-12-31 23:30:00,2020,12,31,23,30,20.8,0,0,0,83.35,357,2.9,1018,17.9
2020-12-31 23:40:00,2020,12,31,23,40,20.8,0,0,0,82.64,357,2.9,1017,17.7
2020-12-31 23:50:00,2020,12,31,23,50,20.8,0,0,0,82.64,358,2.9,1017,17.7

In [51]:
# Define a dictionary for aggregation functions for numerical columns
agg_dict = {
    "Year": "last",
    "Month": "last",
    "Day": "last",
    "Hour": "last",
    "Minute": "mean",
    "Temperature": "mean",
    "DHI": "mean",
    "DNI": "mean",
    "GHI": "mean",
    "Relative Humidity": "mean",
    "Wind Direction": "mean",
    "Wind Speed": "mean",
    "Pressure": "mean",
    "Dew Point": "mean",
}

# Resample the DataFrame to 1-hour frequency and aggregate data
hourly_df = sorted_df.resample("1H").agg(agg_dict)

In [52]:
hourly_df

,Year,Month,Day,Hour,Minute,Temperature,DHI,DNI,GHI,Relative Humidity,Wind Direction,Wind Speed,Pressure,Dew Point
datetime,,,,,,,,,,,,,,
2016-01-01 00:00:00,2016,1,1,0,25.0,21.833333,0.0,0.0,0.0,84.583333,356.500000,2.683333,1018.000000,19.133333
2016-01-01 01:00:00,2016,1,1,1,25.0,21.716667,0.0,0.0,0.0,84.525000,210.000000,2.716667,1017.833333,18.966667
2016-01-01 02:00:00,2016,1,1,2,25.0,21.550000,0.0,0.0,0.0,84.801667,3.000000,2.833333,1017.000000,18.866667
2016-01-01 03:00:00,2016,1,1,3,25.0,21.400000,0.0,0.0,0.0,85.130000,5.500000,2.950000,1017.000000,18.766667
2016-01-01 04:00:00,2016,1,1,4,25.0,21.233333,0.0,0.0,0.0,85.518333,7.166667,3.050000,1017.500000,18.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,2020,12,31,19,25.0,21.650000,0.0,0.0,0.0,78.750000,349.333333,2.566667,1018.000000,17.800000
2020-12-31 20:00:00,2020,12,31,20,25.0,21.350000,0.0,0.0,0.0,80.115000,350.333333,2.600000,1018.000000,17.800000
2020-12-31 21:00:00,2020,12,31,21,25.0,21.066667,0.0,0.0,0.0,81.708333,352.166667,2.683333,1018.000000,17.833333
2020-12-31 22:00:00,2020,12,31,22,25.0,20.900000,0.0,0.0,0.0,82.853333,354.666667,2.783333,1018.000000,17.900000
2020-12-31 23:00:00,2020,12,31,23,25.0,20.816667,0.0,0.0,0.0,83.028333,356.833333,2.866667,1017.666667,17.833333

In [53]:
del hourly_df["Minute"]

In [54]:
agg_dict = {
    "Year": "last",
    "Month": "last",
    "Day": "last",
    "Hour": "mean",
    "Minute": "mean",
    "Temperature": "mean",
    "DHI": "mean",
    "DNI": "mean",
    "GHI": "mean",
    "Relative Humidity": "mean",
    "Wind Direction": "mean",
    "Wind Speed": "mean",
    "Pressure": "mean",
    "Dew Point": "mean",
}

# Resample the DataFrame to 1-day frequency and aggregate data
daily_df = sorted_df.resample("1D").agg(agg_dict)

# Now, 'daily_df' contains the resampled and aggregated data with 1-day intervals
del daily_df["Hour"]
del daily_df["Minute"]

In [55]:
daily_df

,Year,Month,Day,Temperature,DHI,DNI,GHI,Relative Humidity,Wind Direction,Wind Speed,Pressure,Dew Point
datetime,,,,,,,,,,,,
2016-01-01,2016,1,1,21.989583,65.631944,234.625000,194.520833,76.517778,204.381944,2.793056,1021.062500,17.590972
2016-01-02,2016,1,2,21.809722,45.236111,299.791667,207.236111,72.279931,296.673611,2.497222,1021.277778,16.506250
2016-01-03,2016,1,3,21.196528,72.055556,213.465278,190.590278,70.510486,338.680556,2.113889,1020.104167,15.521528
2016-01-04,2016,1,4,20.977778,83.069444,181.243056,185.555556,74.424792,340.847222,2.683333,1020.201389,16.150000
2016-01-05,2016,1,5,21.278472,71.333333,222.395833,192.819444,74.048958,308.645833,2.729167,1019.763889,16.390278
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,2020,12,27,20.611806,43.527778,316.541667,209.930556,76.168611,287.041667,3.139583,1015.902778,16.198611
2020-12-28,2020,12,28,20.014583,50.326389,290.312500,205.986111,74.215486,205.430556,2.911806,1015.812500,15.208333
2020-12-29,2020,12,29,20.189583,56.569444,264.041667,199.895833,75.923958,292.888889,3.127083,1016.097222,15.722222
2020-12-30,2020,12,30,20.893750,39.631944,313.743056,207.090278,77.046181,159.444444,3.200694,1016.916667,16.637500
2020-12-31,2020,12,31,21.461806,37.423611,320.458333,207.236111,76.559514,184.701389,2.701389,1017.354167,17.089583

In [56]:
agg_dict = {
    "Year": "last",
    "Month": "last",
    "Day": "mean",
    "Hour": "mean",
    "Minute": "mean",
    "Temperature": "mean",
    "DHI": "mean",
    "DNI": "mean",
    "GHI": "mean",
    "Relative Humidity": "mean",
    "Wind Direction": "mean",
    "Wind Speed": "mean",
    "Pressure": "mean",
    "Dew Point": "mean",
}

# Resample the DataFrame to 1-month frequency and aggregate data
monthly_df = sorted_df.resample("1M").agg(agg_dict)

del monthly_df["Minute"]
del monthly_df["Hour"]
del monthly_df["Day"]

In [57]:
import pandas as pd

# Assuming you already have a DataFrame called 'df' with your data

# Define a dictionary for aggregation functions for numerical columns
agg_dict = {
    "Year": "last",
    "Month": "mean",
    "Day": "mean",
    "Hour": "mean",
    "Minute": "mean",
    "Temperature": "mean",
    "DHI": "mean",
    "DNI": "mean",
    "GHI": "mean",
    "Relative Humidity": "mean",
    "Wind Direction": "mean",
    "Wind Speed": "mean",
    "Pressure": "mean",
    "Dew Point": "mean",
}

# Resample the DataFrame to 1-year frequency and aggregate data
yearly_df = sorted_df.resample("1Y").agg(agg_dict)

# Now, 'yearly_df' contains the resampled and aggregated data with 1-year intervals
del yearly_df["Minute"]
del yearly_df["Hour"]
del yearly_df["Day"]
del yearly_df["Month"]

In [58]:
yearly_df

,Year,Temperature,DHI,DNI,GHI,Relative Humidity,Wind Direction,Wind Speed,Pressure,Dew Point
datetime,,,,,,,,,,
2016-12-31,2016,26.823708,96.921069,166.206113,207.412037,82.721949,220.752505,2.536523,1012.029011,23.532476
2017-12-31,2017,26.588242,92.427188,173.093645,205.676104,83.430766,217.934323,2.632433,1012.026579,23.449119
2018-12-31,2018,26.181880,97.359361,168.228539,209.049049,82.563886,220.566362,2.557513,1011.889555,22.879930
2019-12-31,2019,26.505704,91.415982,192.246556,218.258447,81.542728,222.037690,2.534981,1012.614859,22.946924
2020-12-31,2020,26.368078,91.293109,182.681884,212.017475,82.397858,224.697803,2.566046,1012.456550,23.016940

In [59]:
# Export dataframes to Pickle (.pkl) files
sorted_df.to_pickle("sorted_df.pkl")
hourly_df.to_pickle("hourly_df.pkl")
daily_df.to_pickle("daily_df.pkl")
monthly_df.to_pickle("monthly_df.pkl")
yearly_df.to_pickle("yearly_df.pkl")

# Export dataframes to CSV files
sorted_df.to_csv("sorted_df.csv", index=False)
hourly_df.to_csv("hourly_df.csv", index=False)
daily_df.to_csv("daily_df.csv", index=False)
monthly_df.to_csv("monthly_df.csv", index=False)
yearly_df.to_csv("yearly_df.csv", index=False)

In [60]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 263088 entries, 2016-01-01 00:00:00 to 2020-12-31 23:50:00
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               263088 non-null  int64
 1   Month              263088 non-null  int64
 2   Day                263088 non-null  int64
 3   Hour               263088 non-null  int64
 4   Minute             263088 non-null  int64
 5   Temperature        263088 non-null  float64
 6   DHI                263088 non-null  int64
 7   DNI                263088 non-null  int64
 8   GHI                263088 non-null  int64
 9   Relative Humidity  263088 non-null  float64
 10  Wind Direction     263088 non-null  int64
 11  Wind Speed         263088 non-null  float64
 12  Pressure           263088 non-null  int64
 13  Dew Point          263088 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 30.1 MB